/* styles.css */

:root {
    --wooden: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/wooden.jpg);
    --forest: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/forest.jpg);
    --sweets: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/sweets1.jpg);
    --bubbles: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/bubbles.jpg);
    --crackle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/crackle.jpg);
    --sparkle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/sparkle.jpg);
    --rainbow: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-paint.jpg);
    --smoke: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-smoke.jpg);
    --nightsky: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/nightsky.jpg);
    --sunset: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/sunset.jpg);
    --codingIcon: url(images/growtika-yGQmjh2uOTg-unsplash.jpg);

    
    /* COLORS */
    --blood: #8a0303;
    --slime: #228B22;
    --gloom: #2B363B;
    --candy: #ee698e;
    --purple: #7B1E7A;
    --blue: #2176AE;
    --olive: #A6C48A;    
    --royal: #0A1045;
    --lilac: #B8AED6;
    --snow: #f4f9e9;
    
    /* FONTS */
    --scary-font: 'Metal Mania';
    --typewriter-font: 'Inconsolata';
    --funny-font: 'Balsamiq Sans';
    --curly-font: 'Pacifico';
    --old-style-font: 'Cinzel';
    --simple-font: 'Noto Sans HK';
    --funky-font: 'MuseoModerno';
    --sweet-font: 'Lobster';
}


body {
    --background-image: var(--codingIcon);
    --main-color: var(--gloom);
    font-family: var(--Inconsolat);
}

.grid {
   /* change column-count to another number to change the number of columns displayed */
   column-count: 4;
   column-gap: 10px;
}

.img {
    border-image: var(--wooden) 100;
}

h1 {
    color: #F7F6F6;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

footer a {
    color: gold;
}